@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?5cxna");
  src: url("fonts/icomoon.eot?5cxna#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?5cxna") format("truetype"),
    url("fonts/icomoon.woff?5cxna") format("woff"),
    url("fonts/icomoon.svg?5cxna#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-exit:before {
  content: "\ea14";
}

#info {
  margin: 15px;
}

#locate,#track,#center,#logout {
  margin: 5px;
  border-radius: 50px;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
}

#locate,
#track {
  background-color: #7a7a73;
}

#center {
  background-color: #d5ddde;
}

#logout {
  background-color: rgb(48, 160, 252);
}

#myModalLog, #myModalSignUp{
  text-align: center;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#myModContLog, #myModContSignUp{
  margin: 0 auto;
  width: 50%;
  top: 25%;
}